@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0a0f0f;
  --primary: #00e0c6;
  --accent: #35f0ff;
  --card: #121818;
  --text: #f5f5f5;
  --sub: #a3a3a3;
}

body {
  @apply bg-bg text-text;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
